---
const { href, label, handle, color, icon: Icon } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex flex-col sm:flex-row sm:items-center justify-between p-6 hover:bg-foreground/[0.03] transition-colors border-b border-foreground last:border-none"
>
    <div class="flex items-center gap-6">
        <div
            class="px-2 py-0.5 border border-foreground text-muted font-bold text-[10px] uppercase"
        >
            {label}
        </div>
        <span
            class="font-black text-xl tracking-tighter group-hover:translate-x-1 transition-transform"
        >
            {handle}
        </span>
    </div>

    <div class="flex items-center gap-4 mt-4 sm:mt-0">
        <span
            class="text-[10px] font-black opacity-0 group-hover:opacity-100 uppercase bg-foreground text-background px-2 py-0.5 transition-opacity"
        >
            Connect
        </span>

        <div
            class={`h-12 w-12 flex items-center justify-center border-[3px] border-foreground shadow-neo transition-all group-hover:shadow-none group-hover:translate-x-1 group-hover:translate-y-1 ${color}`}
        >
            {
                Icon ? (
                    <Icon class="h-6 w-6" />
                ) : (
                    <span class="text-2xl font-black italic">K</span>
                )
            }
        </div>
    </div>
</a>
