<footer class="mt-12 py-6 text-sm px-6">
  <div
    class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <div class="flex items-center gap-4 text-foreground">
      <div class="flex items-center gap-2">
        <p class="font-medium tracking-tight">Open source</p>
      </div>
      <span class="text-border"></span>
      <p class="text-[13px] opacity-70">
        {new Date().getFullYear()}
      </p>
    </div>

    <div class="flex items-center gap-4">
      <p class="text-[11px] font-bold uppercase tracking-[0.2em] text-primary">
        Built with
      </p>

      <div
        class="flex items-center gap-3 text-foreground text-xs font-semibold"
      >
        <span> Astro </span>
        <span class="text-border text-xs">+</span>
        <span> Tailwind </span>
      </div>
    </div>
  </div>
</footer>
