---
import { useTranslations } from "../i18n/utils";
import { Mail, ArrowRight, Github, Linkedin } from "lucide-astro";

const { lang } = Astro.props;
const t = useTranslations(lang);

const socials = [
  { icon: Github, href: "https://github.com/arcibyte", label: "Github" },
  {
    icon: Linkedin,
    href: "https://linkedin.com/in/arcibyte",
    label: "Linkedin",
  },
];
---

<section class="relative min-h-[70vh] flex items-center py-24">
  <div transition:animate="initial" class="max-w-4xl mx-auto px-6 w-full">
    <div class="flex flex-col gap-6">
      <span class="text-primary">
        {t("profile.name")}
      </span>

      <h1
        class="text-2xl md:text-3xl font-bold tracking-tighter text-primary leading-[0.85]"
      >
        {t("profile.role")}
      </h1>

      <p class="max-w-xl text-base text-foreground leading-relaxed">
        {t("profile.description")}
      </p>

      <div class="flex flex-wrap items-center gap-6 pt-6">
        <button
          onclick="window.location.href='mailto:arcibyte@gmail.com'"
          class="group flex items-center gap-2 px-5 py-2.5 border border-foreground bg-transparent text-foreground rounded-full transition-all duration-300 hover:bg-muted hover:text-primary active:opacity-70"
        >
          <Mail class="w-4 h-4 opacity-70" />

          <span class="text-sm font-medium tracking-tight">
            {t("profile.cta")}
          </span>

          <ArrowRight
            class="w-3.5 h-3.5 opacity-0 -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300"
          />
        </button>

        <div class="hidden sm:block h-8 w-[1px]"></div>

        <div class="flex items-center gap-4 text-foreground">
          {
            socials.map(({ icon: Icon, href, label }) => (
              <a
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                title={label}
                class="text-foreground hover:text-primary transition-colors duration-300"
              >
                <Icon class="w-5 h-5 stroke-[1.5px]" />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
