---
interface Props {
  title: string;
  lang?: string;
}
const { title, lang } = Astro.props;
import Header from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const currentLang = lang || Astro.currentLocale || "es";
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Jhon Arciniegas" />
    <link rel="icon" href="https://arcibyte.vercel.app/img/icon.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jhon Arciniegas | Portfolio" />
    <meta
      property="og:description"
      content="Applied data science, machine learning, and software engineering."
    />
    <meta
      property="og:image"
      content="https://arcibyte.vercel.app/img/OP.jpg"
    />
    <meta property="og:url" content="https://www.arcibyte.vercel.app" />

    <title>{title}</title>
  </head>

  <body
    class="bg-background text-text dark:bg-background-dark dark:text-white p-4 sm:p-0 mx-auto max-w-[580px] text-base font-sans"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter-Regular";
    src: url("/fonts/Inter-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  p,
  a {
    font-family: "Inter-Regular", sans-serif;
  }
</style>
